<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Nie odnaleziono rekordu</title>
        <style type="text/css">
          .error-template {padding: 40px 15px;text-align: center;}
          .error-actions {margin-top:15px;margin-bottom:15px;}
          .error-actions .btn { margin-right:10px; }
        </style>
    </head>

    <body>
    <!-- Fluid Container -->
        <div class="container-fluid g-aside-has-aside">
          <div class="container">
            <div class="row">
                    <div class="col-md-12">
                        <div class="error-template">
                            <h1>
                                Ups!</h1>
                            <h2>
                                404 Nie odnaleziono rekordu!</h2>
                            <div class="error-details">
                                Przepraszamy, ale wygląda na to że poszukiwany rekord nie został odnaleziony w bazie danych. Informacja o tym zdarzeniu została wysłana
                                do wsparcia technicznego. W razie dalszych pytań, zachęcamy do kontaktu.
                            </div>
                            <div class="error-actions">
                                <a href="/" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span> Strona główna </a>
                                <a href="mailto:contact.hotelmanager@gmail.com?Subject=Błąd%20404" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-envelope"></span> Skontaktuj się z nami </a>
                            </div>
                            <a href="mailto:contact.hotelmanager@gmail.com?Subject=Błąd%20404">contact.hotelmanager@gmail.com</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

    <%= javascript_include_tag "ripple-effect.js" %>
    <%= javascript_include_tag "g-aside-expand.js" %>

</html>