<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Dodaj pokój</h4>
        </div>

        <div class="modal-body">
            <%= bootstrap_form_for :room, remote: true, html: { style: "display:inline;" } do |f| %>
                <%= f.number_field :room_id, label: "Numer pokoju" %>
                <%= f.text_field :description, label: "Opis pokoju" %>


                <div class="modal-footer">
                    <div class="text-right">
                        <a href="" data-dismiss="modal" class="btn btn-default">Anuluj</a>
                        <%= f.submit "Utwórz", :class => 'btn btn-primary' %>
                    </div>
                </div>
            <% end %>  

        </div>

        <div class="modal-footer">
           
        </div>

    </div>
</div>