.g-spacer {
	width: 100%;
	position: relative;
	clear: both;
	height: 64px;
}
.g-spacer-label-container {
	position: absolute;
	width: 100%;
	top: 24px;
	text-align: center;
	z-index: 8;
	opacity: 1;
}
.g-spacer-label-container label {
	padding-left: 24px;
	padding-right: 24px;
	background-color: #f4f7f9;
	opacity: 1;
	color: rgba(1,1,1,0.32);
	width: auto;
}
.g-spacer-hr-light {
    position: absolute;
    width: 100%;
    top: 13px;
    border-bottom: 1px solid #FFF;
    z-index: 1;
    opacity: 0.32;
}
.g-spacer-hr-dark {
	position: absolute;
	width: 100%;
	top: 12px;
	border-bottom: 1px solid #000;
	z-index: 1;
	opacity: 0.08;
}