/* Header */
.g-header {
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 64px;
	background-color: #fff;
	padding-right: 32px;
}
.g-navigation-text {

}
.g-navigation-text h4 {
	margin-top: 12px;
    margin-bottom: 0;
}
.g-next {
    font-size: 11px;
    color: rgba(0, 0, 0, 0.32);
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
    padding-left: 8px;
    padding-right: 8px;
}