.mysortable thead {
  display: none;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.dropdown-menu > li > a {
	padding: 0 10px;
	border-radius: 0;
}

.login {
	font-size: 11px;
    color: #000;
    opacity: 0.32;
    font-weight: 700;
    text-transform: uppercase;

    padding: 3px 0;
	border-radius: 0;
	left:10px;     
}

.dropdown-item-login {
	font-size: 11px;
    color: #000;
    opacity: 0.32;
    font-weight: 700;
}

.dropdown-toggle {
	margin: 10px; 
	padding: 5px 9px;
}